body{
    min-height: 100%;
    min-width: 100%;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-left: 30px;
}

h1{
    font-size: 6em;
    color: #ff0033;
    text-align: center;
    animation: 1s linear infinite condemned_blink_effect;
    margin-top: 30px;
}
.error-div{
  margin-top: 10px;
  align-items: center;
  text-align: center;
}
img{
  height: 850px;
}
a{
    display: inline-block;
    background-color: #108dd6;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
}
a:hover{
  background-color: #eeeeee;
  border: 4px double #108dd6;
  color: #108dd6;
}

@keyframes condemned_blink_effect {
    0% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
}

  @media only screen and (max-width: 1200px) {
    h1{
      font-size: 7em;
      color: orange;
      text-align: center;
      animation: 1s linear infinite condemned_blink_effect;
      margin-top: 300px;
  }
  }
  @media only screen and (max-width: 720px) {
    h1{
      font-size: 5em;
      color: orange;
      text-align: center;
      animation: 1s linear infinite condemned_blink_effect;
      margin-top: 300px;
  }
  }
  @media only screen and (max-width: 360px) {
    h1{
      font-size: 3em;
      color: orange;
      text-align: center;
      animation: 1s linear infinite condemned_blink_effect;
      margin-top: 300px;
  }
  }