<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="../static/img/chat.ico" />

        <link rel="stylesheet" href="../static/css/default.css" />
        <link rel="stylesheet" href="../static/css/sign_in.css" />

        <title>Sign In | Forum</title>
    </head>
    <body>
        <header>
            <h1 class="logo"><a href="/">Home</a></h1>
        </header>
        <div class="container">
            <form action="/auth/signin" method="post" autocomplete="off">
                <h2 class="sign-in-title">Sign In</h2>
                <div>
                    <input id="Username" type="text" class="username sign-in-field" name="username" placeholder="Username" required />
                </div>
                <div><input id="Password" type="password" class="password sign-in-field" name="password" placeholder="Password" required /></div>
                <button class="sign-in-btn">Login</button>
            </form>
            <p class="sign-up-label">Don't have an account yet?</p>
            <a href="/auth/signup" class="sign-up-btn">Sign Up</a>
        </div>
    </body>
</html>
